{% extends 'base.html.twig' %}

{% block body %}
    <div>

        <details style="padding: 6px; border-radius: 6px" class="filters accordion">
            <summary  >Filtres</summary>
            <div style="padding: 6px; border-radius: 6px" >
                {{ form_start(filterForm) }}
                <div class="grid">
                    <div>
                        {{ form_row(filterForm.campus) }}
                        {{ form_row(filterForm.name) }}
                        {{ form_row(filterForm.start) }}
                        {{ form_row(filterForm.end) }}
                        {{ form_row(filterForm.state) }}
                    </div>
                    <div class="checkboxes">
                        {{ form_row(filterForm.isOrganizer) }}
                        {{ form_row(filterForm.isRegistered) }}
                        {{ form_row(filterForm.isNotRegistered) }}
                        {{ form_row(filterForm.isPast) }}<br>
                        <button type="submit"  style="width: 40%">Rechercher</button>
                    </div>
                </div>
                {{ form_end(filterForm) }}
            </div>

        </details>

        <div >
            <a href="{{ path('hangout_add') }}">
                <button >Créer une sortie</button>
            </a>
        </div>

        <h2>Résultats des sorties filtrées</h2>

        <table class="striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Campus</th>
                <th>État</th>
                <th>Organisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if hangouts is empty %}
            <tr>
                <td colspan="5">Aucune sortie trouvée.</td>
            </tr>
            {% else %}
            {% for hangout in hangouts %}
            <tr>
                <td>{{ hangout.name }}</td>
                <td>{{ hangout.startingDateTime|date('d/m/Y H:i') }}</td>
                <td>{{ hangout.campus.name }}</td>
                <td>{{ hangout.state.label }}</td>
                <td>{{ hangout.organizer.firstname }}</td>
                <td>
                    <a href="{{ path('hangout_detail', {'id': hangout.id}) }}"
                       class="contrast no-underline">Afficher</a><br>
                    <a href="{{ path('hangout_unsubscribe', {'id': hangout.id}) }}" class="contrast no-underline">Se
                        désister</a>
                </td>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>


    </div>
{% endblock %}
